@font-face{
    src: url(../../Fonts/Roboto-Regular.ttf);
    font-family: Roboto-Regular;
}

@font-face{
    src: url(../../Fonts/Roboto-Thin.ttf);
    font-family: Roboto-Thin;
}

.container-seconde-part-home{
    width: 100%;
    padding: 25px;
    color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: Roboto-Regular;
}

.text-OurSuccess{
    width: 600px;
    text-align: center;
}

.part-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.number{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.number .value{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.number .value h2{
    color: rgb(0, 119, 255);
    font-size: 80px;
    font-family: Roboto-Thin;
}

.part-two{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.part-two h2{
    color: #00CBB8;
}

.color-text{
    color: #2F327D;
}

.part-two p{
    width: 500px;
    text-align: center;
}

.box-card{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box-card .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 400px;
}

.box-card .card img{
    width: 100px;
    height: 100px;
}

.box-card .card p{
    width: 250px;
}